{% set nbrc = 0 %}
{% for use in user %}
    {% for role in use.roles %}
        {% if role == "ROLE_GROSSISTE" and use.enabled %}
            {% set nbrc = nbrc + 1 %}
        {% endif %}
    {% endfor %}
{% endfor %}
{{ nbrc }}