{% extends "AdminBundle:Default:template.html.twig" %}
{% block page %}
<div class="page">
    <div class="page-content container-fluid">
        <div class="col-lg-10 bg-white mx-auto">
            <h1 class="text-center">Liste des Utilisateurs</h1>

            <table class="table table-striped">
                <thead>
                    <tr>

                        <th>Username</th>
                        <th>Firstname</th>
                        <th>Lastname</th>

                        <th>Matriculefiscale</th>
                        <th>Role</th>
                        <th>Statut</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    {% for utilisateur in utilisateurs %}
   
                    {% if utilisateur.enabled == false %}
                    {% set myclass = "bg-secondary text-dark" %}
                    {% else %}
                    {% set myclass = "" %}
                    {% endif %}

                    <tr class="{{ myclass }}">
                        <td>{{ utilisateur.userName }}</td>
                        <td>{{ utilisateur.firstName }}</td>
                        <td>{{ utilisateur.lastName }}</td>

                        <td>{{ utilisateur.matriculeFiscale }}</td>
                        <td>
                            {% for role in utilisateur.roles %}
                                {% if role != "ROLE_USER" %}
                                    {{ role | slice(5) }}
                                {% endif %}
                            {% endfor %}
                        
                        </td>
                        <td>
                            {% if utilisateur.enabled == false %}
                            <i class="md-close text-danger" style="font-size: 25px;"></i>
                            {% else %}
                          <i class="md-check text-success" style="font-size: 25px;"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if utilisateur.enabled == false %}
                            <a href="{{ path('utilisateurs_enable', { 'id': utilisateur.id }) }}"
                                class="btn btn-success"><i class="md-lock-open"></i></a>
                            {% else %}
                            <a href="{{ path('utilisateurs_disable', { 'id': utilisateur.id }) }}"
                                class="btn btn-danger"><i class="md-lock"></i></a>
                            {% endif %}
                           


                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}