<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Total E-Commerce{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="{% block body_id %}{% endblock %}">

        {% block header %}
            <header>
                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container">

                        
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">

                                {% block header_navigation_links %}
                                    <li>
                                        <a href="{{ path('admin_index') }}">
                                            <i class="fa fa-home"></i> Acceuil
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{{ path('admin_post_index') }}">
                                            <i class="fa fa-lock"></i> Produit
                                        </a>
                                    </li>
                                {% endblock %}
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}

        <div class="container body-container">
            {% block body %}
                <div class="row">
                    <div id="main" class="col-sm-9">
                        {{ include('BackendBundle:Default:_flash_messages.html.twig') }}

                    {% block main %}{% endblock %}
                </div>

                <div id="sidebar" class="col-sm-3">
                    {% block sidebar %}

                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>

    {% block footer %}
        <footer>
            <div class="container">
                <div class="row">
                    <div id="footer-copyright" class="col-md-6">
                        <p>&copy; {{ 'now'|date('Y') }} - App4mob</p>
                    </div>
                    <div id="footer-resources" class="col-md-6">
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/app.js') }}"></script>
    {% endblock %}

</body>
</html>
