{% extends '@EasyAdmin/default/layout.html.twig' %}
{% block main %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <div class="invoice-title">
                    <h3 class="pull-right">
                        <div id="myModal" class="modal fade in">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form action="?entity=CommandesGrossiste&action=list" method="post">
                                        <div class="modal-header">
                                            <a class="btn btn-default" data-dismiss="modal"><span
                                                        >X</span></a>
                                            <h4 class="modal-title">Confirmer ou modifier date commande</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h4>date enregistrée {{ posts.deliverydate|date('d/m/Y') }}
                                                <input type="hidden" value="{{ posts.deliverydate|date('d/m/Y') }}"
                                                       name="testt">
                                                <input type="hidden" value="{{ posts.id }}" name="idcommande"></h4>

                                            <p>nouvelle date <input type="date" name="dateLiv"></p>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="btn-group">
                                                <button class="btn btn-primary"><span
                                                            class="fa fa-check-circle"></span> Confirmer
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dalog -->
                        </div><!-- /.modal -->
                        {% if posts.status != 2 and is_granted('ROLE_GROSSISTE')%}
                            <a data-toggle="modal" href="#myModal" class="btn btn-primary">Valider</a>
                        {% endif %}
                    </h3>
                    <h2>Commande #{{ posts.reference }}</h2>

                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-6">
                        <address>
                            <strong>Adresse de facturation:</strong><br>
                            {% for colonne,facture in posts.commande.facturation %}
                                {{ facture }} <br>
                            {% endfor %}
                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <address>
                            <strong>Adresse de livraison</strong><br>
                            {% for colonne,livraison in posts.commande.livraison %}
                                {{ livraison }}<br>
                            {% endfor %}

                        </address>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">

                    </div>
                    <!--<div class="col-xs-5 text-right">
                        <address>

                            <strong>Date de livraison:</strong><br>

                        </address>
                    </div>-->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Listes des produits</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <td><strong>Element</strong></td>
                                    <td><strong>Gamme</strong></td>
                                    <td><strong>Prix</strong></td>
                                    <td class="text-center"><strong>Quantité</strong></td>
                                    <td class="text-right"><strong>Totale</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                {% set totale = 0 %}
                                {% for post in posts.commande.produit %}
                                    <tr>
                                        <td class="no-line">{{ post.reference }} - {{ post.unite }}</td>
                                        <td class="no-line">{{ post.categorie }}</td>
                                        <td class="no-line"><strong>{{ (post.prixHT)|number_format(3) }}</strong></td>
                                        <td class="no-line text-center">{{ post.quantite }}</td>
                                        <td class="no-line text-right"> {% set totale = totale + (post.prixHT  * post.quantite) %}
                                            {{ (post.prixHT  * post.quantite)|number_format(3) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line text-center"><strong>Totale commande</strong></td>
                                    <td class="no-line text-right"><strong>{{ totale|number_format(3) }}</strong></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#
     <h1>Liste des produits</h1>
     <table class="table table-striped">
         <tbody>
         </tbody>
     </table>
 #}
{% endblock %}
