{# app/Resources/views/easy_admin/tag_collection.html.twig #}

{% set colors = field_options.label_colors|default(['primary']) %}

{% set tab = ["Validation ...","Livraison ...","Valider","Modifier","Annuler"] %}

{% for tag in [0,1,2,3,4,5] %}
    {% if value == tag%}
        <span class="label label-{{ cycle(colors, loop.index) }}">{{ tab[loop.index0] }}</span>
    {% endif %}
{% endfor %}

