{% extends "AdminBundle:Default:template.html.twig" %}
{% block page %}
<div class="page">
    <div class="page-content container-fluid">
    <h1 class="text-dark">bonjour </h1>
    </div>
</div>

{% endblock %}

