{% extends 'FrontendBundle::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}
{% block body %}
    <input type="text" value="{{ cp }}" id="cp" style="display: none;">
    <div class="container">

    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="{{ path('homepage_frontend') }}">Accueil</a></li>
                <li class="active"> Nous contacter</li>
            </ul>
        </div>
    </div>
<br><br>
    <div class="row">
<br><br>
    <div class="col-lg-12">
   <center>
       {% if done == 1 %}
       <div class="alert alert-success" role="alert">
           <strong>Merci</strong> votre message a été envoyé avec succès.
       </div>
       {% endif %}
       <h1 class="section-title-inner"><span> VOTRE AVIS NOUS INTÉRESSE</span></h1>
    <h3 class="section-title-inner"><span> N'hésitez pas à nous contacter en remplissant le formulaire ci-dessous ou via nos coordonnées en bas de page.</span></h3></center>
    </div>
        <div class='well well-sm col-md-6 col-md-offset-3'>


            {{ form_start(form) }}
            {{ form_errors(form) }}


            <div class="form-group">
                <label>Civilité</label><br>
                {{ form_widget(form.civilite) }}
            </div>

            <div class="form-group">
                <label>Nom</label><br>
                {{ form_widget(form.nom,{"attr" : {"class":"form-control"} }) }}
            </div>
            <div class="form-group">
                <label>Prenom</label><br>
                {{ form_widget(form.prenom,{"attr" : {"class":"form-control"} }) }}
            </div>
            <div class="form-group">
                <label>Adresse</label><br>
                {{ form_widget(form.adresse,{"attr" : {"class":"form-control"} }) }}
            </div>
            <div class="form-group">
                <label>Ville</label><br>
                {{ form_widget(form.ville,{"attr" : {"class":"form-control"} }) }}
            </div>
            <div class="form-group">
                <label>Zone</label><br>
                {{ form_widget(form.zone,{"attr" : {"class":"form-control"} }) }}
            </div>
            <div class="form-group">
                <label>Email <sub> *</sub></label><br>
                {{ form_widget(form.email,{"attr" : {"class":"form-control"} }) }}
            </div>
            <div class="form-group">
                <label>Telephone <sub> *</sub></label><br>
                {{ form_widget(form.tel,{"attr" : {"class":"form-control"} }) }}
            </div>
            <div class="form-group">
                <label>Objet <sub> *</sub></label><br>
                {{ form_widget(form.object,{"attr" : {"class":"form-control"} }) }}
                <!--<select name="objet[]" name="objet"  class="form-control" required multiple>
                    <option value="Prix">Prix </option>
                        <option value="Réclamation">Réclamation </option>
                    <option value="Assistance technique">Assistance technique </option>
                    <option value="Formation">Formation </option>
                    <option value="Autre">Autre </option>
                </select>-->
            </div>
            <div class="form-group">
                <label>Sujet<sub> *</sub></label><br>
                {{ form_widget(form.sujet,{"attr" : {"class":"form-control"} }) }}
            </div>
            <div class="form-group">
                <label>Message</label><br>
                {{ form_widget(form.message,{"attr" : {"class":"form-control"} }) }}
            </div>
            <div class="form-group">
                <label>Captcha <sub> *</sub></label><br>
            {% block captcha_widget %}
                {% spaceless %}
                    {{ form_widget(form.captcha,{"attr" : {"placeholder":" Saisissez le captcha"} }) }}
                    {{ form_errors(form.captcha) }}
                {% endspaceless %}
            {% endblock %}
            </div>

            <button class="btn btn-primary"  type="submit"><i class="fa fa-user"></i> Envoyer</button>

            {{ form_end(form) }}

    </div>
    </div>

    <br>

{% endblock body %}