
{{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.raisonsociale) }}
        {{ form_row(form.nomdomaine) }}
        {{ form_row(form.email) }}
        {{ form_row(form.description) }}
        {{ form_row(form.secteur) }}
        {{ form_row(form.logo) }}
        {{ form_row(form.couleur) }}
    

<input type="submit" value="Ajouter" class="btn btn-primary" />

{{ form_widget(form.saveAndCreateNew, { label: 'Valider', attr: { class: 'btn btn-primary' } }) }}

<a href="{{ path('boutique_backend') }}" class="btn btn-link">
    Retour a la liste
</a>
{{ form_end(form) }}