
<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap material admin template">
    <meta name="author" content="">

    <title>Form General Elements | Remark Material Admin Template</title>

    <link rel="apple-touch-icon" href="{{asset('template/assets/images/apple-touch-icon.png')}}">
    <link rel="shortcut icon" href="{{asset('template/assets/images/favicon.ico')}}">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{asset('template/global/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('template/global/css/bootstrap-extend.min.css')}}">
    <link rel="stylesheet" href="{{asset('template/assets/css/site.min.css')}}">

    <!-- Plugins -->
    <link rel="stylesheet" href="{{asset('template/global/vendor/animsition/animsition.css')}}">
    <link rel="stylesheet" href="{{asset('template/global/vendor/asscrollable/asScrollable.css')}}">
    <link rel="stylesheet" href="{{asset('template/global/vendor/switchery/switchery.css')}}">
    <link rel="stylesheet" href="{{asset('template/global/vendor/intro-js/introjs.css')}}">
    <link rel="stylesheet" href="{{asset('template/global/vendor/slidepanel/slidePanel.css')}}">
    <link rel="stylesheet" href="{{asset('template/global/vendor/flag-icon-css/flag-icon.css')}}">
    <link rel="stylesheet" href="{{asset('template/global/vendor/waves/waves.css')}}">


    <!-- Fonts -->
    <link rel="stylesheet" href="{{asset('template/global/fonts/material-design/material-design.min.css')}}">
    <link rel="stylesheet" href="{{asset('template/global/fonts/brand-icons/brand-icons.min.css')}}">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    <!--[if lt IE 9]>
    <script src="{{asset('template/global/vendor/html5shiv/html5shiv.min.js')}}"></script>
    <![endif]-->

    <!--[if lt IE 10]>
    <script src="{{asset('template/global/vendor/media-match/media.match.min.js')}}"></script>
    <script src="{{asset('template/global/vendor/respond/respond.min.js')}}"></script>
    <![endif]-->

    <!-- Scripts -->
    <script src="{{asset('template/global/vendor/breakpoints/breakpoints.js')}}"></script>
    <script>
        Breakpoints();
    </script>
</head>
<body class="animsition">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
                data-toggle="menubar">
            <span class="sr-only">Toggle navigation</span>
            <span class="hamburger-bar"></span>
        </button>
        <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
                data-toggle="collapse">
            <i class="icon md-more" aria-hidden="true"></i>
        </button>
        <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
            <img class="navbar-brand-logo" src="{{asset('template/assets/images/logo.png')}}" title="Remark">
            <span class="navbar-brand-text hidden-xs-down"> Eshop</span>
        </div>
        <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search"
                data-toggle="collapse">
            <span class="sr-only">Toggle Search</span>
            <i class="icon md-search" aria-hidden="true"></i>
        </button>
    </div>


</nav>
</div>

<!-- Page -->
    <div class="page-header">
        <h1 class="page-title">Créer ma boutique</h1>

    </div>

    <div class="page-content">
        <!-- Panel Form Elements -->
        <div class="panel">

            <div class="panel-body container-fluid">
                <div class="row row-lg">

                    <div class="col-md-6 ">
                        <!-- Example Input Focus -->
                        <div class="example-wrap">
                            <h4 class="example-title">Raison Sociale </h4>
                            <input type="text" class="form-control focus" id="inputFocus" placeholder="Raison Sociale...">
                        </div>
                        <!-- End Example Input Focus -->
                    </div>
                    <div class="col-md-6">
                        <!-- Example Select -->
                        <div class="example-wrap m-sm-0">
                            <h4 class="example-title">Secteur D'activité</h4>
                            <div class="form-group">
                                <select class="form-control">
                                    <option></option>
                                    {% for secteur in secteurs %}
                                    <option>{{secteur.nom}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- End Example Select -->
                    </div>

                    <div class="col-md-6">
                        <!-- Example Select -->
                        <div class="example-wrap m-sm-0">
                            <h4 class="example-title">Avez vous un nom de domaine</h4>
                            <div class="form-group">
                                <div class="checkbox-custom checkbox-inline checkbox-primary float-xxl-left" style="margin-left: -22px">
                                    <input type="radio" id="inputRadiosChecked" name="radiodomaire" checked="">
                                    <label for="inputRadiosChecked">non</label>
                                    <input type="radio" id="inputRadiosUnchecked" name="radiodomaire">
                                    <label for="inputRadiosUnchecked">oui</label>

                                </div>
                            </div>
                        </div>
                        <!-- End Example Select -->
                    </div>

                    <!-- Example Input Focus -->
                    <div class="col-md-6 ">
                        <!-- Example Input Focus -->
                        <div class="example-wrap">
                            <h4 class="example-title"> </h4>
                            <input type="text" class="form-control focus" id="inputFocus" placeholder="nom de domaine.."">
                        </div>
                        <!-- End Example Input Focus -->
                    </div>
                    <div class="col-md-6">
                        <!-- Example Select -->
                        <div class="example-wrap m-sm-0">
                            <h4 class="example-title">Avez vous un logo</h4>
                            <div class="form-group">
                                <div class="checkbox-custom checkbox-inline checkbox-primary float-xxl-left" style="margin-left: -22px">
                                    <input type="radio" id="inputRadiosChecked" name="radiodomaire" checked="">
                                    <label for="inputRadiosChecked">non</label>
                                    <input type="radio" id="inputRadiosUnchecked" name="radiodomaire">
                                    <label for="inputRadiosUnchecked">oui</label>

                                </div>
                            </div>
                        </div>
                        <!-- End Example Select -->
                    </div>
                    <!-- Example Input Focus -->
                    <div class="col-md-6 ">
                        <!-- Example Input Focus -->
                        <div class="example-wrap">
                            <h4 class="example-title"> </h4>
                            <div class="form-group">
                                <div class="input-group input-group-file" data-plugin="inputGroupFile">
                                    <input type="text" class="form-control" readonly="">
                                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                          <i class="icon md-upload" aria-hidden="true"></i>
                          <input type="file" name="" multiple="">
                        </span>
                      </span>
                                </div>
                            </div>
                        </div>
                        <!-- End Example Input Focus -->
                    </div>

                    <div class="col-md-6 ">
                        <!-- Example Input Focus -->
                        <div class="example-wrap">
                            <h4 class="example-title">Email </h4>
                            <input type="text" class="form-control focus" id="inputFocus" placeholder="email.."">
                        </div>
                        <!-- End Example Input Focus -->
                    </div>

                    <div class="col-md-6 ">
                        <!-- Example Input Focus -->
                        <div class="example-wrap">
                            <h4 class="example-title"> Télephone</h4>
                            <input type="text" class="form-control focus" id="inputFocus" placeholder="telephone..."">
                        </div>
                        <!-- End Example Input Focus -->
                    </div>

                    <div class="col-md-6 ">
                        <!-- Example Input Focus -->
                        <div class="example-wrap">
                            <h4 class="example-title">Choisir votre code couleur </h4>

                            <div class="col-md-6 col-lg-3">
                                <input type="color" class="form-control focus" id="inputFocus" placeholder="nom de domaine.." value="#f23f4f">
                                <input type="color" class="form-control focus" id="inputFocus" placeholder="nom de domaine.." value="#f23f4f">
                                <input type="color" class="form-control focus" id="inputFocus" placeholder="nom de domaine.." value="#f23f4f">
                            </div>
                        </div>
                        <!-- End Example Input Focus -->
                    </div>

                    <div class="col-md-6">
                        <!-- Example Textarea -->
                        <div class="example-wrap">
                            <h4 class="example-title">Description</h4>
                            <textarea class="form-control" id="textareaDefault" rows="3"></textarea>
                        </div>
                        <!-- End Example Textarea -->
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- End Panel Form Elements -->

    </div>


<footer class="site-footer">
    <div class="site-footer-legal"> 2018 <a href="http://themeforest.net/item/remark-responsive-bootstrap-admin-template/11989202">Remark</a></div>
    <div class="site-footer-right">
        Crafted with <i class="red-600 icon md-favorite"></i> by <a href="https://themeforest.net/user/creation-studio">Creation Studio</a>
    </div>
</footer>
<script src="{{asset('template/global/vendor/babel-external-helpers/babel-external-helpers.js')}}"></script>
<script src="{{asset('template/global/vendor/jquery/jquery.js')}}"></script>
<script src="{{asset('template/global/vendor/popper-js/umd/popper.min.js')}}"></script>
<script src="{{asset('template/global/vendor/bootstrap/bootstrap.js')}}"></script>
<script src="{{asset('template/global/vendor/animsition/animsition.js')}}"></script>
<script src="{{asset('template/global/vendor/mousewheel/jquery.mousewheel.js')}}"></script>
<script src="{{asset('template/global/vendor/asscrollbar/jquery-asScrollbar.js')}}"></script>
<script src="{{asset('template/global/vendor/asscrollable/jquery-asScrollable.js')}}"></script>
<script src="{{asset('template/global/vendor/ashoverscroll/jquery-asHoverScroll.js')}}"></script>
<script src="{{asset('template/global/vendor/waves/waves.js')}}"></script>

<script src="{{asset('template/global/vendor/switchery/switchery.js')}}"></script>
<script src="{{asset('template/global/vendor/intro-js/intro.js')}}"></script>
<script src="{{asset('template/global/vendor/screenfull/screenfull.js')}}"></script>
<script src="{{asset('template/global/vendor/slidepanel/jquery-slidePanel.js')}}"></script>
<script src="{{asset('template/global/vendor/jquery-placeholder/jquery.placeholder.js')}}"></script>

<script src="{{asset('template/global/js/Component.js')}}"></script>
<script src="{{asset('template/global/js/Plugin.js')}}"></script>
<script src="{{asset('template/global/js/Base.js')}}"></script>
<script src="{{asset('template/global/js/Config.js')}}"></script>

<script src="{{asset('template/assets/js/Section/Menubar.js')}}"></script>
<script src="{{asset('template/assets/js/Section/GridMenu.js')}}"></script>
<script src="{{asset('template/assets/js/Section/Sidebar.js')}}"></script>
<script src="{{asset('template/assets/js/Section/PageAside.js')}}"></script>
<script src="{{asset('template/assets/js/Plugin/menu.js')}}"></script>

<script src="{{asset('template/global/js/config/colors.js')}}"></script>
<script src="{{asset('template/assets/js/config/tour.js')}}"></script>
<script>Config.set('assets', 'assets')</script>

<script src="{{asset('template/assets/js/Site.js')}}"></script>
<script src="{{asset('template/global/js/Plugin/asscrollable.js')}}"></script>
<script src="{{asset('template/global/js/Plugin/slidepanel.js')}}"></script>
<script src="{{asset('template/global/js/Plugin/switchery.js')}}"></script>
<script src="{{asset('template/global/js/Plugin/jquery-placeholder.js')}}"></script>
<script src="{{asset('template/global/js/Plugin/input-group-file.js')}}"></script>

<script>
    (function(document, window, $){
        'use strict';

        var Site = window.Site;
        $(document).ready(function(){
            Site.run();
        });
    })(document, window, jQuery);
</script>
</script>

</body>
</html>
