{{ form_start(form, { attr: attr|default({}) }) }}
    {{ form_widget(form) }}
    
    {% if form.vars.value.image is not null %}
        <img src="{{ asset('uploads/produits/' ~ form.vars.value.image) }}" />
    {% endif %}
    
    <input type="submit" value="Vaider" class="{{ button_css|default("btn btn-primary") }}" />

    {% if include_back_to_home_link|default(false) %}
        <a href="{{ path('admin_post_index') }}" class="btn btn-link">
            Retour à la liste
        </a>
    {% endif %}
    
{{ form_end(form) }}
