{% extends "AdminBundle:Default:template.html.twig" %}
{% block page %}
<div class="page">
    <div class="page-content container-fluid">
<div class="col-lg-4 mx-auto bg-white">
    <h1 class="text-center">SecteurActivity edit</h1>


<div class="m-3 p-3">
    {{ form_start(edit_form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(edit_form) }}
    </div>
    <label for="nom">Secteur:</label>
{{ form_widget(edit_form.nom, {'attr': {'class': 'form-control'}}) }}
    {{ form_widget(edit_form) }}
   <div class="text-center">
    <input type="submit" value="Modifier" class="btn btn-warning"/>
{{ form_end(edit_form) }}
    <a href="{{ path('secteuractivity_index') }}" class="btn btn-primary">Retour</a>
    {{ form_start(delete_form) }}
            <input type="submit" value="Supprimer" class="btn btn-danger">
        {{ form_end(delete_form) }}
   </div>
   </div>

 
      

</div>
    </div>
</div>

{% endblock %}

