{% extends "AdminBundle:Default:template.html.twig" %}
{% block page %}
<div class="page">
    <div class="page-content container-fluid">
     <div class="col-lg-4 mx-auto bg-white">


       <h1  class="text-center">Ajout Secteur d'activité</h1>

    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    <label for="nom">Secteur:</label>
{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form) }}
       
        <div class="text-center m-3 p-3">
    <button type="submit" value="Ajouter" class="btn btn-success bg-success col-lg-5 mr-2" id="mysubmit">Ajouter</button>

    <a href="{{ path('secteuractivity_index') }}" class="btn btn-primary col-lg-5">Retour</a>
   </div>
    {{ form_end(form) }}

 
  </div>
    </div>
</div>

{% endblock %}



