{% extends 'base.html.twig' %}

{% block body %}
    <h1>UtilisateursAdresses list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Cp</th>
                <th>Pays</th>
                <th>Ville</th>
                <th>Complement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateursAdress in utilisateursAdresses %}
            <tr>
                <td><a href="{{ path('backend_useraddress_show', { 'id': utilisateursAdress.id }) }}">{{ utilisateursAdress.id }}</a></td>
                <td>{{ utilisateursAdress.nom }}</td>
                <td>{{ utilisateursAdress.prenom }}</td>
                <td>{{ utilisateursAdress.telephone }}</td>
                <td>{{ utilisateursAdress.adresse }}</td>
                <td>{{ utilisateursAdress.cp }}</td>
                <td>{{ utilisateursAdress.pays }}</td>
                <td>{{ utilisateursAdress.ville }}</td>
                <td>{{ utilisateursAdress.complement }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('backend_useraddress_show', { 'id': utilisateursAdress.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('backend_useraddress_edit', { 'id': utilisateursAdress.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backend_useraddress_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
