{% extends 'base.html.twig' %}

{% block body %}
    <h1>UtilisateursAdresses</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateursAdress.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateursAdress.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateursAdress.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ utilisateursAdress.telephone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ utilisateursAdress.adresse }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ utilisateursAdress.cp }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ utilisateursAdress.pays }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ utilisateursAdress.ville }}</td>
            </tr>
            <tr>
                <th>Complement</th>
                <td>{{ utilisateursAdress.complement }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backend_useraddress_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('backend_useraddress_edit', { 'id': utilisateursAdress.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
