{% extends "AdminBundle:Default:template.html.twig" %}
{% block page %}

<div class="page">
    <div class="page-content container-fluid">
     <div class="col-lg-6 mx-auto bg-white m-3 p-3">
   <div class="text-center">
    <h1>Liste des Catégories</h1>
 
            <a href="{{ path('categories_new') }}" class="btn btn-success mb-4"><i class="icon md-plus-circle"></i> Ajouter Catégorie</a>
  
   </div>

  
    <table class="table table-striped">
        <thead>
            <tr class="text-center">
               
              
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>

          
                <td>{{ category.nom }}</td>
                <td class="text-center" width="30%">
                
                            <a href="{{ path('categories_show', { 'id': category.id }) }}" class="btn btn-primary"><i class="icon md-eye"></i></a>
                     
                            <a href="{{ path('categories_edit', { 'id': category.id }) }}" class="btn btn-warning"><i class="icon md-edit"></i></a>
                     
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   </div>

 
    </div>
</div>

{% endblock %}


