{% extends 'FrontendBundle:Layouts:layoutBreadcrumps.html.twig' %}


    {% block breadcrump %}
        <div class="row">
            <div class="breadcrumbDiv col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="{{ path("compte") }}">{{ app.user }}</a></li>
                    <li class="active"> Mes Commandes</li>
                </ul>
            </div>
        </div>
    {% endblock breadcrump %}
    {% block content %}

        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-7">
                <h1 class="section-title-inner"><span><i class="fa fa-list-alt"></i> Commandes </span></h1>

                <div class="row userInfo">
                    <div class="col-lg-12">
                        <h2 class="block-title-2"> Mes Commandes </h2>
                    </div>

                    <div style="clear:both"></div>

                    <div class="col-xs-12 col-sm-12">
                        <table class="footable">
                            <thead>
                            <tr>
                                <th data-class="expand" data-sort-initial="true" data-type="numeric"><span
                                            title="table sorted by this column on load">Références</span></th>
                                <th data-hide="phone,tablet" data-sort-ignore="true">Nb. articles</th>
                                <th data-hide="phone,tablet" data-sort-ignore="true">Adresse de livraison</th>
                                <th data-hide="phone,tablet" data-sort-ignore="true"><strong>Adresse de facturation</strong></th>
                                <th data-hide="phone,tablet" data-sort-ignore="true"><strong></strong></th>
                                <th data-hide="default" data-type="numeric"> Prix</th>
                                <th data-hide="default" data-type="numeric"> Date</th>
                                <th data-hide="phone" data-type="numeric"> Statut</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for facture in factures %}
                            <tr>
                                <td data-value="{{ facture.reference }}">#{{ facture.reference }}</td>
                                <td>{{ facture.commande.produit | length }}
                                    <small>Article(s)</small>
                                </td>
                                <td>{{ facture.commande.livraison.adresse ~ facture.commande.livraison.ville}}</td>
                                <td>{{ facture.commande.facturation.adresse ~ facture.commande.facturation.ville}}</td>
                                <td><a href="{{ path("facture_detail",{"id":facture.id}) }}" class="btn btn-primary btn-sm">Voir Détails</a> &nbsp;&nbsp;<a style="display:none;" href="{{ path("facturepdf",{"id":facture.id}) }}" class="btn btn-primary
                                btn-sm">Imprimer
                                        facture</a></td>
                                <td data-value="{{  facture.commande.prixHT|number_format(3, '.', ',') }}">{{  facture.commande.prixHT|number_format(3, '.', ',') }} DT</td>
                                <td data-value="{{ facture.createdAt.timestamp }}">{{ facture.createdAt|format_date  }}</td>
                                <td data-value="{{ facture.status }}"><span class="label {{ facture.statusCssClass}}">{{ facture.statusToString }}</span>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div style="clear:both"></div>

                    <div class="col-lg-12 clearfix">
                        <ul class="pager">
                            <li class="previous pull-right"><a href="{{ path("list_produit") }}"> <i class="fa fa-home"></i> Continuer vos achats </a>
                            </li>
                            <li class="next pull-left"><a href="{{ path("compte") }}"> &larr; Mon compte</a></li>
                        </ul>
                    </div>
                </div>
                <!--/row end-->

            </div>
            <div class="col-lg-3 col-md-3 col-sm-5"></div>
        </div>
        <!--/row-->

    {% endblock %}
{% block stylesheets %}
{{ parent() }}
    <!-- styles needed by footable  -->
    <link href="/assets/css/footable-0.1.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/footable.sortable-0.1.css" rel="stylesheet" type="text/css"/>
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <!-- include footable plugin -->
    <script src="/assets/js/footable.js" type="text/javascript"></script>
    <script src="/assets/js/footable.sortable.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('.footable').footable();
        });
    </script>
{% endblock %}