{% extends '@EasyAdmin/default/layout.html.twig' %}
{% block head_javascript %}
    {{ parent() }}
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% endblock %}
{% block main %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
    <div class="row">
    <div class="col-md-9">
        <form class="form-inline" action="{{ path('filtrer_grossiste') }}" id="filtrer" method="post">
            <div class="form-group">
                <label class="" for="startDate">De: </label>
                <input type="date" class="form-control" id="startDate" name="startDate" required>
            </div>
                <div class="form-group">
                    <label class="" for="endDate"> à: </label>
                    <input type="date" class="form-control" id="endDate" name="endDate" required>
                </div>
            <button type="submit" class="btn btn-default">Filtrer Commande par date</button> <img id="loader" src="{{ asset('assets/css/AjaxLoader.gif') }}">
        </form>
        <br>
    </div>
    </div>
        <div id="output">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading" style="background-color: #F5F5F5;">
                            <div class="row">
                                <div class="col-xs-6">
                                    <i class="fa fa-check fa-5x"></i>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <p class="announcement-text"><h2>{{ cv }}</h2></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="announcement-heading"><b>Commandes validées</b></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading"  style="background-color: #F5F5F5;">
                            <div class="row">
                                <div class="col-xs-6">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <p class="announcement-text"><h2>{{ cev }}</h2></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="announcement-heading"><b>Commandes en cours de validtion</b></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-6 col-sm-3">
                    <div class="panel panel-info">
                        <div class="panel-heading"  style="background-color: #F5F5F5;">
                            <div class="row">
                                <div class="col-xs-6">
                                    <i class="fa fa-user-circle-o fa-5x"></i>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <p class="announcement-text"><h2>12</h2></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-left"><b> Clients</b></div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>

        </div>
    </div>
    <script>
        $(document).ready(function() {
            var options = {
                target:        '#output',
                beforeSubmit:  showRequest,
                success:       showResponse
            };

            // bind form using 'ajaxForm'
            $('#loader').hide();
            $('#filtrer').ajaxForm(options);
        });
        function showRequest(formData, jqForm, options) {
            $('#loader').show();

                if ($('#startDate').val()>$('#endDate').val()) {

                    $('#loader').hide();
                    return false;
                }

            return true;
        }
        function showResponse(responseText, statusText, xhr, $form)  {
            $('#loader').hide();
        }
    </script>
{% endblock %}